@font-face {
    font-family: 'Hans_Kendrick';
    src: url('../fonts/hanskendrick-regular-webfont.woff2') format('woff2'),
    url('../fonts/hanskendrick-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
}
html,
body {
    height: 100%;
}
body {
    background: #e2e7ec;
    font-family: 'Hans_Kendrick', sans-serif;
}
.ba-container {
    max-width: 1180px;
    min-height: 1200px;
    margin: 80px auto;
}
.ba-first-row,
.ba-second-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.ba-column {
    padding: 20px;
}
.ba-cell--large {
    min-width: 740px;
    height: 540px;
    flex-grow: 2;
    flex-shrink: 1;
    position: relative;
}
.ba-cell--small {
    max-width: 380px;
    background: #ffffff;
    height: 540px;
    padding: 25px 0 25px 28px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.ba-cell-1-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../assets/layer-8.png") no-repeat;
}
.ba-cell-1-2 {
    background: #fff url("../assets/layer-2.png") no-repeat;
}
.ba-cell-2-1 {
    background: #fff url("../assets/layer-5.png") no-repeat;
}
.ba-cell-2-2 {
    background: #fff url("../assets/layer-7.png") no-repeat;
}
.ba-cell-2-3 {
    background: #fff url("../assets/white-car.png") no-repeat;
}
.ba-img {
    margin-top: 58px;
}
.ba-cell__date {
    width: 133px;
    height: 13px;
    color: #818181;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
}
.ba-cell__date--large {
    color: #818181;
    position: absolute;
    left: 50px;
    bottom: 120px;
}
.ba-cell__title {
    max-width: 315px;
    height: 78px;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 18px;
    letter-spacing: 0.5px;
}
.ba-cell__title--large {
    max-width: 440px;
    height: 60px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: absolute;
    left: 45px;
    bottom: 19px;
}
.ba-loading {
    margin: 0 auto;
    margin-top: 87px;
}
.ba-loading__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ba-loading__title:before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 13px;
    background: url("../assets/default.svg")
}