@font-face {
    font-family: 'Hans_Kendrick';
    src: url('../fonts/hanskendrick-regular-webfont.woff2') format('woff2'),
    url('../fonts/hanskendrick-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    box-sizing: border-box;
    transition: all 0.1s ease-in;
}
html,
body {
    height: 100%;
}
body {
    background: #e2e7ec;
    font-family: 'Hans_Kendrick', sans-serif;
}
.ba-flex-container {
    display: flex;
    flex-flow: column wrap;
    max-width: 1130px;
    min-width: 500px;
    min-height: 1110px;
    max-height: 3000px;
    margin: 90px auto;
}
.ba-flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: -20px;
}
.ba-cell--small {
    max-width: 360px;
    min-width: 150px;
    height: 540px;
    flex-grow: 1;
    flex-shrink: 1;
    background: #fff;
    margin-right: 20px;
}
.ba-cell--large {
    max-width: 740px;
    min-width: 500px;
    height: 540px;
    flex-grow: 2;
    flex-shrink: 1;
    position: relative;
}
.ba-cell-1-1 {
    background: url("../assets/layer-8.png") no-repeat;
}
.ba-cell-1-2 {
    background: url("../assets/layer-2.png") no-repeat;
}
.ba-cell-2-1 {
    background: url("../assets/layer-5.png") no-repeat;
}
.ba-cell-2-2 {
    background: url("../assets/layer-7.png") no-repeat;
}
.ba-cell-2-3 {
    background: url("../assets/layer-7.png") no-repeat;
}






.ba-cell__date {
    width: 133px;
    height: 13px;
    color: #818181;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
}
.ba-cell__title {
    width: 307px;
    height: 78px;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
}
.ba-cell__title--large {
    width: 433px;
    height: 60px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    position: absolute;
    left: 50px;
    bottom: 20px;
}
.ba-cell__date--large {
    color: #818181;
    position: absolute;
    left: 50px;
    bottom: 120px;
}